{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block Title %}
         <title>Index</title>
    {% endblock Title %}
</head>
<body>
{#    <div class="ul">#}
{#        <ul>#}
{#            <li><a href="{% url "academy:index" %}">Go to "Home" page</a></li>#}
{#        </ul>#}
{#    </div>#}
 <div class="row">
    <div class="col-sm-2">
        {% block sidebar %}
                <ul class="sidebar-nav">
                  <li><a href="{% url "academy:index" %}">Home</a></li>
                  <li><a href="{% url "academy:students_list" %}">All students</a></li>
                  <li><a href="{% url "academy:subject_list" %}">All subjects</a></li>
                  <li><a href="{% url "academy:teacher_list" %}">All teachers</a></li>
                </ul>
        {% endblock sidebar %}
    </div>
 </div>

{% block content %}
{% endblock content %}

</body>
</html>