{% extends "academy/base.html" %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
{% endblock css_additional %}

{% block content %}
  <h1>Local Library Home</h1>

  <p>Welcome to <strong>Test Academy</strong>, simplest Django website developmentally based on <a
      href="https://github.com/KhvPaul/django_example_project/tree/main">django_example_project</a> provided by <a
          href="https://github.com/KhvPaul">KhvPaul</a>.</p>
  <p>In this project an attempt was made to create a Django skeleton website and application, define URL mappings, views
    (including Generic List and Detail Views), models and templates.</p>


  <h2>UML Models</h2>
  <p>An UML diagram of the site's Django model structure is shown below. </p>

  <div>
    <img src="{% static "images/academy.png" %}" alt="My image" style="height:540px;"/>
  </div>

{% endblock %}