{% extends "academy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block Title %}
        <title>Students</title>
    {% endblock Title %}
</head>
<body>
{% block content %}
        <br>
<h3><a href="{% url "academy:student_creation" %}"> &#9998; <em>Create Student</em></a></h3>
    <br>
    <fieldset>
    <h1>List of the Students:</h1>
    </fieldset>
{% if student_list %}
    <ul>
    {% for student in student_list %}
        <li>
            <a href="{% url "academy:student_detail" student.id %}">{{ student.student_first_name }} {{ student.student_last_name }}</a> (Teachers: {{ student.teacher.all|join:", " }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No student are available</p>
{% endif %}
        Average course: {{ course_set }}
{% endblock content %}

</body>
</html>