{% extends "academy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block Title %}
        <title>Students</title>
    {% endblock Title %}
</head>
<body>
{% block content %}
        <br>
<h3><a href="{% url "academy:student_creation" %}"> &#9998; <em>Create Student</em></a></h3>
    <br>
    <fieldset>
    <h1>List of the Students:</h1>
    </fieldset>
{% if student_list %}
    <h2>Average course: {{ avg_count }} </h2>
{#    <h2>Students count: {{ student_list }} </h2>#}
    <ul>
    {% for student in student_list %}
        <li>
            <a href="{% url "academy:student_detail" student.id %}"><strong>{{ student.student_first_name }}
                {{ student.student_last_name }}</strong></a>
            <p>
            <strong>Teachers:</strong> {{ student.teacher.all|join:", " }}
            <p>
            <strong>Subjects:</strong> {{ student.subjects_set.all|join:", " }}
            <p>
            <strong>Student Profile: </strong> {{ student.studentprofile.some_student }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No student are available</p>
{% endif %}
{% endblock content %}

</body>
</html>